body{
    box-sizing: border-box;
}
.main{
    margin-top: 7rem;
}

.result{
    font-weight: bold;
    font-size: 2rem;
}

.main label{
    font-size: 2rem;
    font-weight: bolder;
}

.main input{
    font-size: 3rem;
}

.creator{
    font-weight: bold;
}

@media (max-width:406px){
    .main label{
        font-size: 1rem;
        font-weight: bolder;
    }

    .main input{
        font-size: 1rem;
    }
}